<!DOCTYPE html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layouttemplate"
      data-theme="light">


<th:block layout:fragment="extraHead">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.js"></script>
    <script src="/js/modal.js"></script>

</th:block>

<!--    <header>-->
<!--        <div class="content">-->
<!--            <div class="btn-left">-->
<!--                <button class="btn btn-blue">-->
<!--                    <span class="fas fa-plus mr-2"></span>-->
<!--                    New Task-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="btn-right">-->
<!--                <button class="btn btn-sec left-radius">Share</button>-->
<!--                <button class="btn btn-sec right-radius">Export</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>    -->
<div layout:fragment="mainContent">

Just for customers


</div>






</html>