<!DOCTYPE html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layouttemplate"
      data-theme="light">


<th:block layout:fragment="extraHead">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.js"></script>
    <script src="/js/modal.js"></script>

</th:block>

<!--    <header>-->
<!--        <div class="content">-->
<!--            <div class="btn-left">-->
<!--                <button class="btn btn-blue">-->
<!--                    <span class="fas fa-plus mr-2"></span>-->
<!--                    New Task-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="btn-right">-->
<!--                <button class="btn btn-sec left-radius">Share</button>-->
<!--                <button class="btn btn-sec right-radius">Export</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>    -->
<div layout:fragment="mainContent">


    <div class="row-box">
        <div class="col-boxes-1">
            <div class="col-table">
                <div class="table-section">
                    <div class="header-table">
                        <h2>My profile</h2>
                        <!--                        <a href="#">see all</a>-->
                    </div>
                    <form >>
                        <table width="100%">
                            <tbody>
                            <tr>
                                <th><label for="username">Username</label></th>
                                <td>
                                    <input class="form-control" type="text" th:value="${username}" name="username" id="username">
                                    <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="${username}"></div>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit"  class="listbutton" value="Update">
                                    &nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                            </tbody>


                        </table>
                    </form>



                </div>

            </div>

        </div>
    </div>


</div>






</html>