<html> 
 <head></head> 
 <body>
  Bokningsbekräftelse Bokningsbekräftelse Tack för din bokning, ! Vi är glada att kunna bekräfta din bokning. Nedan följer detaljerna för din reservation: Incheckningsdatum: Utcheckningsdatum: Rumstyp: Antal personer: Bokningsregler: Vänligen observera följande regler för din bokning: Avbokning måste göras 48 timmar före incheckningsdatum för att undvika avgifter. För frågor eller ändringar av din bokning, vänligen kontakta vår personal. Incheckningstid är 15:00 och utcheckningstid är 15:00. Vänligen ha med dig giltig ID-handling eller pass vid incheckning.
 </body>
</html>