<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sök lediga rum</title>
</head>
<body>
<h1>Sök rum</h1>
<form action="#" th:action="@{/room/search}" method="post">

    <label for="startDate">Start datum</label><br>
    <input type="date" id="startDate" name="startDate" required><br>

    <label for="endDate">Slut datum</label><br>
    <input type="date" id="endDate" name="endDate" required><br>

    <label for="numberOfPeople">Antal personer</label><br>
    <input type="number" id="numberOfPeople" name="numberOfPeople" min="1" max="6" required><br>

    <input type="submit" value="Sök" onclick="return dateValidator()">

</form>

<div class="availableRooms" th:unless="${#lists.isEmpty(availableRooms)}">
    <table>
        <tbody>
        <tr th:each="room : ${availableRooms}">
            <td>
                <a th:href="@{/room/book/{id}(id=${room.id}, startDate=${startDate}, endDate=${endDate}, numberOfPeople=${numberOfPeople})}" th:value="${room}">Room</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function dateValidator() {
        const startDateElement = document.getElementById("startDate");
        const endDateElement = document.getElementById("endDate");

        const startDate = new Date(startDateElement.value);
        const endDate = new Date(endDateElement.value);

        if (startDate > endDate) {
            alert("Inchecknings datumet kan inte vara större än utcheckningsdatumet!");
            startDateElement.value = "";
            endDateElement.value = "";
            return false;
        }
        return true;
    }
</script>

</body>
</html>

