<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sök lediga rum</title>
</head>
<body>
<h1>Sök rum</h1>
<form action="#" th:action="@{/room/search}" method="post">

    <label for="startDate">Start datum</label><br>
    <input type="date" id="startDate" name="startDate" required><br>

    <label for="endDate">Slut datum</label><br>
    <input type="date" id="endDate" name="endDate" required><br>

    <label for="numberOfPeople">Antal personer</label><br>
    <input type="number" id="numberOfPeople" name="numberOfPeople" required><br>

    <input type="submit" value="Book">
</form>

<!--<div class="availableRooms" th:unless="${#lists.isEmpty(availableRooms)}">-->
<!--    <table>-->
<!--        <tbody>-->
<!--        <tr th:each="room : ${availableRooms}">-->
<!--            <td th:text="${room.roomType}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

</body>
</html>

<!--DO not use-->
