<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
</head>
<body>
<!-- skickar till update-metod, skickar helt objekt -->
<form id="updateForm" action="#" th:action="@{/customer/update}" th:object="${customer}" method="post">
    <label for="name">Name</label><br>
    <input type="text" id="name" pattern="[A-Öa-ö\s]+" title="Please enter only Swedish letters and spaces." th:field="*{name}"><br>
    <label for="ssn">Personnummer</label><br>
    <input type="text" id="ssn" pattern="\d{6}-\d{4}" title="Please enter a number in the format YYMMDD-XXXX." th:field="*{ssn}"><br>
    <label for="email">Email</label><br>
    <input type="email" id="email" th:field="*{email}"><br>
    <input type="hidden" id="id" th:field="*{id}"><br>
    <input type="submit" value="Submit" onclick="handleSubmit(event)">
</form>


<script>
    const originalName = document.getElementById("name").value;
    const originalSsn = document.getElementById("ssn").value;
    const originalEmail = document.getElementById("email").value;

    function handleSubmit(event) {
        event.preventDefault();

        const updatedName = document.getElementById("name").value;
        const updatedSsn = document.getElementById("ssn").value;
        const updatedEmail = document.getElementById("email").value;

        if (updatedName !== originalName) {
            alert("Namn har nu ändrats: " + updatedName);
        }
        if (updatedSsn !== originalSsn) {
            alert("Personnummer har nu ändrats: " + updatedSsn);
        }
        if (updatedEmail !== originalEmail) {
            alert("Email har nu ändrats: " + updatedEmail);
        }

        document.getElementById("updateForm").submit();
    }
</script>
</body>
</html>