<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Booking</title>
</head>
<body>
<form action="#" th:action="@{/booking/update}" th:object="${booking}" method="post">
    <label for="ppl">Antal Personer</label><br>
    <input type="text" id="ppl" th:field="*{numberOfPeople}"><br>

    <label for="startDate">Start datum</label><br>
    <input type="date" id="startDate" name="startDate" th:field="*{startDate}" required><br>

    <label for="endDate">Slut datum</label><br>
    <input type="date" id="endDate" name="endDate" th:field="*{endDate}" required><br>

    <input type="hidden" id="id" th:field="*{id}"><br>
    <input type="submit" value="Submit">

</form>
</body>
</html>